<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color : yellowgreen ">
        <p>This is my second layout header</p>
    </header>

    @RenderBody()
    
    <footer style ="background-color : fuchsia">
    <p>this is my second layout footer</p>
    </footer>
</body>
</html>
